@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Nova+Square|Press+Start+2P&display=swap');

/*
	font-family: 'Press Start 2P', cursive; - display output
	font-family: 'Black Ops One', cursive; - buttons
	font-family: 'Nova Square', cursive; - Author - credits
*/

.App {
	overflow : hidden;
	width : 100vw;
	max-width : 410px;
	height : 100vh;
	display : grid;
	grid-template-columns : 98%;
	grid-template-rows : 40% 55% auto;
	justify-content : center;
	background-color : #333333;
	grid-row-gap : 4px;
}

@media only screen and (min-width : 768px) {
	.App {
		min-width : 550px;
		min-height : 600px;
		width : 60vw;
		height : 70vh;
	}
}

.Display {
	background-color : #000000;
	color : #FFFFFF;
	display : grid;
	grid-template-rows : auto auto;
	align-items : end;
	align-content : end;
	font-family : 'Press Start 2P', cursive;
	grid-row-gap : 8px;
}

.input {
	max-height : 100%;
	overflow-y : scroll;
	display : flex;
	align-items : flex-end;
	justify-content : flex-end;
	flex-wrap : wrap;
	font-size : 1.1em;
}

.value {
}

.cursor {
	animation : cursorToggle 1s infinite;
}

.answer {
}

@keyframes cursorToggle {
	from {
		opacity : 1;
	}
	to {
		opacity : 0;
	}
}

.Numpad {
	height : 100%;
	display : grid;
	grid-template-areas :
		'numpadLeftBracket numpadRightBracket numpadLeftArrow numpadRightArrow'
		'numpad7 numpad8 numpad9 numpadPlus'
		'numpad4 numpad5 numpad6 numpadMinus'
		'numpad1 numpad2 numpad3 numpadMultiply'
		'numpad0 numpad0 numpadDot numpadDivide'
		'numpadReset numpadReset numpadEval numpadEval';
	grid-gap : 2px;
}

.Numpad button {
	border : none;
	font-family: 'Black Ops One', cursive;
	outline : none;
	cursor : pointer;
	-webkit-transition-duration : .3s;
	-moz-transition-duration : .3s;
	-o-transition-duration : .3s;
	transition-duration : .3s;
}

.Numpad button:active {
	-webkit-transition-duration : .3s;
	-moz-transition-duration : .3s;
	-o-transition-duration : .3s;
	transition-duration : .3s;
	
	-webkit-transform : scale(.8);
	-moz-transform : scale(.8);
	-o-transform : scale(.8);
	transform : scale(.8);
}

.Numpad button i {
	pointer-events : none;
}

.number {
	font-size : 1.4em;
	background-color : #FFFFFF;
}

.top-line {
	font-size : 1.1em;
	background-color : #e35d5d;
	color : #FFFFFF;
}

.bottom-line {
	font-size : 1.5em;
	color : #FFFFFF;
	background-color : #85e35d;
}

.operator {
	font-size : 1.8em;
	background-color : gray;
	color : white;
	background-color : #5dbbe3;
}

#numpad0 {
	grid-area : numpad0;
}

#numpad1 {
	grid-area : numpad1;
}

#numpad2 {
	grid-area : numpad2;
}

#numpad3 {
	grid-area : numpad3;
}

#numpad4 {
	grid-area : numpad4;
}

#numpad5 {
	grid-area : numpad5;
}

#numpad6 {
	grid-area : numpad6;
}

#numpad7 {
	grid-area : numpad7;
}

#numpad8 {
	grid-area : numpad8;
}

#numpad9 {
	grid-area : numpad9;
}

#numpadPlus {
	grid-area : numpadPlus;
}

#numpadMinus {
	grid-area : numpadMinus;
} 

#numpadMultiply {
	grid-area : numpadMultiply;
}

#numpadDivide {
	grid-area : numpadDivide;
}

#numpadLeftArrow {
	grid-area : numpadLeftArrow;
}

#numpadRightArrow {
	grid-area : numpadRightArrow;
}

#numpadDot {
	grid-area : numpadDot;
}

#numpadEval {
	grid-area : numpadEval;
}

#numpadReset {
	grid-area : numpadReset;
}

#numpadLeftBracket {
	grid-area : numpadLeftBracket;
}

#numpadRightBracket {
	grid-area : numpadRightBracket;
}

.author {
	text-decoration : none;
	color : #FFFFFF;
	font-family: 'Nova Square', cursive;
	text-align : center;
	align-self : center;
}



