.App {
	margin : auto;
	width : 100vw;
	height : 100vh;
	display : grid;
	grid-template-rows : 40% 60%;
	grid-template-columns : 100%;
}

.Display {
	color : #000;
	background-color : #000000;
	display : flex;
	flex-direction:row-reverse;
	align-items : flex-end;
	color : #FFFFFF;
}

.value {
	font-family : monospace;
	font-size : 2em;
}

.cursor {
	animation : cursorToggle 1s infinite;
}

@keyframes cursorToggle {
	from {
		opacity : 1;
	}
	to {
		opacity : 0;
	}
}

.Numpad {
	display : grid;
	grid-template-areas :
		'. . numpadLeftArrow numpadRightArrow'
		'numpad7 numpad8 numpad9 numpadPlus'
		'numpad4 numpad5 numpad6 numpadMinus'
		'numpad1 numpad2 numpad3 numpadMultiply'
		'numpad0 numpad0 numpadDot numpadDivide'
		'. . numpadEval numpadEval'
}

#numpad0 {
	grid-area : numpad0;
}

#numpad1 {
	grid-area : numpad1;
}

#numpad2 {
	grid-area : numpad2;
}

#numpad3 {
	grid-area : numpad3;
}

#numpad4 {
	grid-area : numpad4;
}

#numpad5 {
	grid-area : numpad5;
}

#numpad6 {
	grid-area : numpad6;
}

#numpad7 {
	grid-area : numpad7;
}

#numpad8 {
	grid-area : numpad8;
}

#numpad9 {
	grid-area : numpad9;
}

#numpadPlus {
	grid-area : numpadPlus;
}

#numpadMinus {
	grid-area : numpadMinus;
} 

#numpadMultiply {
	grid-area : numpadMultiply;
}

#numpadDivide {
	grid-area : numpadDivide;
}

#numpadLeftArrow {
	grid-area : numpadLeftArrow;
}

#numpadRightArrow {
	grid-area : numpadRightArrow;
}

#numpadDot {
	grid-area : numpadDot;
}

#numpadEval {
	grid-area : numpadEval;
}


