@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Nova+Square|Press+Start+2P&display=swap');

/*
	font-family: 'Press Start 2P', cursive; - display output
	font-family: 'Black Ops One', cursive; - buttons
	font-family: 'Nova Square', cursive; - Author - credits
*/

.App {
	overflow : hidden;
	width : 100vw;
	height : 100vh;
	display : grid;
	grid-template-rows : 40% 60%;
	background-color : black;
	grid-row-gap : 4px;
}

.Display {
	color : #FFFFFF;
	display : grid;
	grid-template-rows : auto auto;
	align-items : end;
	align-content : end;
	font-family: 'Press Start 2P', cursive;
}

.input {
	max-height : 100%;
	overflow-y : scroll;
	display : flex;
	align-items : flex-end;
	justify-content : flex-end;
	flex-wrap : wrap;
}

.value {
}

.cursor {
	animation : cursorToggle 1s infinite;
}

.answer {
}

@keyframes cursorToggle {
	from {
		opacity : 1;
	}
	to {
		opacity : 0;
	}
}

.Numpad {
	height : 100%;
	display : grid;
	grid-template-areas :
		'numpadReset numpadReset numpadLeftArrow numpadRightArrow'
		'numpad7 numpad8 numpad9 numpadPlus'
		'numpad4 numpad5 numpad6 numpadMinus'
		'numpad1 numpad2 numpad3 numpadMultiply'
		'numpad0 numpad0 numpadDot numpadDivide'
		'. . numpadEval numpadEval';
	grid-gap : 2px;
}

.Numpad button {
	font-size : 1.2em;
	border : none;
	font-family: 'Black Ops One', cursive;
	outline : none;
}

.Numpad button i {
	pointer-events : none;
}

.number {
	background-color : white;
}

.operator {
	background-color : gray;
	color : white;
}

#numpad0 {
	grid-area : numpad0;
}

#numpad1 {
	grid-area : numpad1;
}

#numpad2 {
	grid-area : numpad2;
}

#numpad3 {
	grid-area : numpad3;
}

#numpad4 {
	grid-area : numpad4;
}

#numpad5 {
	grid-area : numpad5;
}

#numpad6 {
	grid-area : numpad6;
}

#numpad7 {
	grid-area : numpad7;
}

#numpad8 {
	grid-area : numpad8;
}

#numpad9 {
	grid-area : numpad9;
}

#numpadPlus {
	grid-area : numpadPlus;
}

#numpadMinus {
	grid-area : numpadMinus;
} 

#numpadMultiply {
	grid-area : numpadMultiply;
}

#numpadDivide {
	grid-area : numpadDivide;
}

#numpadLeftArrow {
	grid-area : numpadLeftArrow;
}

#numpadRightArrow {
	grid-area : numpadRightArrow;
}

#numpadDot {
	grid-area : numpadDot;
}

#numpadEval {
	grid-area : numpadEval;
}

#numpadReset {
	grid-area : numpadReset;
}


